runs/
__pycache__/
datasets/
models/
logs/
mlruns/
outputs/
multirun/
*.pt
*.bin
*.png
*.pkl
*.pth
trial/
artifacts/
whisper_mimura_san_imp/
private/
**/notebooks/**
**/cpts/**
kaldi/
espnet/
trial_note.ipynb
figs/
text.phones.librispeech
text.phones.tedlium2
projects/phoneme-balanced-poc/step1/phones/*
librispeech_normalized_phones.json
librispeech_normalized_phones_no_bcl.json
ted2_normalized_phones.json
ted2_normalized_phones_no_bcl.json
installers/
audio_secs/
vocabs/
json/
trial.ipynb
tmp.py
online-speaker-adaptation/