runs/
__pycache__/
datasets/
models/
logs/
mlruns/
outputs/
multirun/
*.pt
*.bin
*.png
*.pkl
trial/
artifacts/
whisper_mimura_san_imp/
private/
**/notebooks/**
**/cpts/**
kaldi/
espnet/
trial_note.ipynb
figs/
text.phones.librispeech
text.phones.tedlium2
projects/phoneme-balanced-poc/step1/phones/*